/*=============================
  Admission Form
  ==============================*/
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(130,106,251); 
    padding: 0 20px;
    margin:40px;
    border-radius: 50px;
 }
 .container{
    position: relative;
    max-width: 700vh;
    width: 100%;
    background: #ffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0,0,15px rgb(0,0,0.1);
 }
 .container header{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;
    text-align: center;
 }
 .container .form{
    margin-top: 30px;
 }
 .form .input-box{
width: 100%;
margin-top: 30px;
 }
 .input-box label{
    color:black;
 }
 .form .input-box input{
position: relative;
height: 50px;
width:100%;
outline: none;
border: 1px solid #ddd;
color:#333;
font-size: 1rem;
border-radius: 6px;
padding: 0 15px;
margin-top: 8px;
 }
 .form .gender-box{
    margin-top: 10px;
 }
 .gender-box{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom:8px ;
 }
 .form .column{
    display: flex;
    column-gap: 15px;
 }
 .form:where(.gender-option,.gender ){
    display: flex;
    column-gap: 12px;
    align-items: center;
    column-gap: 10px;
 }
 .form .gender{
    column-gap: 15px;
    
 }
 .form:where( .gender input,.gender label) {
    cursor: pointer;
 }
 .form button{
   height:55px;
   width:100%;
   color:#ffff;
   font-size: 1rem;
   border: none;
   margin-top: 30px;
   cursor: pointer;
   border-radius: 6px;
   font-weight: 500;
   transition:all 0.2s ease;
   background-color:rgb(130,106,251);
 }
 .form button:hover{
   background-color: rgb(88,56,250);
 }
 /*Responsive */
 @media screen and ( max-width:500px)
 {
    .form .column{
        flex-wrap: wrap;
    }
 }